google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
colorama
pydub
moviepy
configparser
uuid
elevenlabs
pyttsx3
whisper
requests
Pillow
newsapi-python
g4f
edge_tts
python-telegram-bot==20.0
nest_asyncio
flask
newspaper3k
opencv-python
psutil
pysrt
newspaper3k[lxml]
textblob
spacy
fake-useragent
beautifulsoup4
vaderSentiment
textstat
bark
python-dateutil

# Dependencias adicionales (no se instalan con pip):
# - ffmpeg: Necesario para la manipulación de video y audio. Puedes descargarlo de https://ffmpeg.org/download.html y agregarlo al PATH del sistema.