google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
colorama
pydub
moviepy
configparser
uuid
elevenlabs
pyttsx3
whisper
requests
Pillow
newsapi-python
g4f
tiktokautouploader
edge_tts

# Dependencias adicionales (no se instalan con pip):
# - ffmpeg: Necesario para la manipulación de video y audio. Puedes descargarlo de https://ffmpeg.org/download.html y agregarlo al PATH del sistema.
# python -m playwright install