[settings]
temp_dir = .temp

[Youtube]
youtube_credentials_file =  # Path to your YouTube credentials file (e.g., C:\path\to\your\client_secret.json)

[Pexels]
API_KEY =  # Your Pexels API key

[NewsAPI]
api_key =  # Your NewsAPI key
country =  # Country code (e.g., us) see Api doc
page_size =  # Number of articles to fetch per request (e.g., 5)

[ArticleSettings]
MODEL =  # The GPT model to use (e.g., gpt-3.5-turbo)
IMAGE_MODEL =  # The image generation model (e.g., gemini)
LANGUAGE =  # Language for article generation (e.g., spanish)

[VideoResult]
aspect_ratio =  # Video aspect ratio (9:16 or 16:9)
background_music =  # Path to background music file (e.g., C:\path\to\your\music.mp3)

[ElevenLabs]
API_KEY =  # Your ElevenLabs API key
MODEL =  # ElevenLabs model to use (e.g., eleven_multilingual_v2)
VOICE =  # Voice ID to use with ElevenLabs (e.g., gD1IexrzCvsXPHUuT0s3) -> Spanish
